{% extends 'new.html' %}
{% load crispy_forms_tags %}
{% block main_content %}
<center>
<div class="container">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Insert Medicine Information</h5>
        <form method="POST"  enctype="multipart/form-data">
           {{ form|crispy }}
            {% csrf_token %}
            <br><br>
          <button type="submit" class="btn btn-success btn-sm">Save</button>
        </form>
      </div>
    </div>
  </div>
</center>
{% endblock main_content %}

